<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GitSynth</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-black text-white">
        <main
            class="relative min-h-screen flex flex-col justify-center items-center"
        >
            <div class="flex flex-col items-center aspect-square">
                <svg
                    class="gs-logo invert"
                    width="128"
                    height="64"
                    viewBox="0 0 200 125"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M75 0H50V25H25V50H0V75H25V100H50V125H75V100H100V75H125V50H150V75H175V100H150V125H175V100H200V75H175V50H150V25H175V0H150V25H125V50H100V75H75V100H50V75H25V50H50V25H75V0Z"
                        fill="#0A0A0A"
                    />
                </svg>
                <div class="bg-white h-[1px] w-[12px] my-8"></div>
                <h1 class="text-2xl text-white tracking-tighter font-bold mb-2">
                    Instant magic.
                </h1>
                <p
                    class="text-sm text-white/60 tracking-tighter text-center mt-2"
                >
                    Resolve all your Git merge conflicts instantly,<br />
                    with an AI agent that knows your code history.<br />
                    <br />Just run
                    <span
                        class="text-white underline decoration-2 decoration-emerald-400 highlight bg-emerald-400/20 hover:bg-emerald-400/40 px-0.5 mx-0.5 transition-all duration-200 ease-in-out"
                        >npx gitsynth</span
                    >.<span class="text-emerald-400">*</span>
                    <br />
                </p>
                <div class="rounded-lg overflow-clip bg-white/10 pb-4 mt-8">
                    <div
                        class="select-none bg-white/10 w-full h-[24px] px-2 font-mono text-xs flex flex-row items-center justify-end text-white/40"
                    >
                        _ o x
                    </div>
                    <div
                        class="h-full w-full font-mono text-sm tracking-tighter"
                    >
                        <div class="h-5"></div>
                        <div class="text-white w-full px-4 py-0.5">
                            <span class="text-emerald-400 font-bold">></span>
                            git merge conflict-branch
                        </div>
                        <div class="text-white/40 w-full px-4 py-0.5">
                            You have unmerged paths. Fix conflicts and commit.
                        </div>
                        <div class="h-5"></div>
                        <div
                            class="text-white w-full px-4 py-1 bg-emerald-400/10 animate-pulse shadow shadow-emerald-400 hover:animate-none hover:bg-emerald-400/40 transition-all duration-200 ease-out"
                        >
                            <span class="text-emerald-400 font-bold">></span>
                            npx gitsynth
                            <span class="text-white/40"
                                >-api-key your-anthropic-key</span
                            >
                        </div>
                        <div class="text-emerald-400/80 w-full px-4 pt-5 pb-3">
                            Merge conflicts detected. <br />
                            GitSynth is resolving your merge conflicts... <br />
                            All done!
                        </div>
                    </div>
                </div>
                <p
                    class="text-sm text-white/60 tracking-tighter mt-6 text-center"
                >
                    <span class="text-emerald-400">*</span> You'll need your
                    <a
                        href="https://console.anthropic.com/settings/keys"
                        class="text-white"
                        >Anthropic API Key</a
                    >
                    the first time.<br />After that, we'll remember it for
                    you.<br /><br />By
                    <a href="https://w3i.space/" class="text-white"
                        >Daniel Wei</a
                    >
                </p>
            </div>
        </main>
    </body>
</html>
